@import 'bourbon/bourbon';
@import 'neat/neat';

$beige: #F5F5DC;

html,
body,
.container-fluid,
#content,
.focus-wheel-process{
  //background-color: $beige;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  overflow: hidden;
}

.form-viewport-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 480px;
  textarea {
    font-size: 24px;
    text-align: center;
  }
  .title.big {
    //font-size:
  }
}

.form-group {
  text-align: center;
  &, & textarea {
    //background-color: $beige;
  }
  .form-control:focus {
    border-color: #ccc;
    box-shadow: none;
  }
}

.focus-wheel-process {
  .center-statement {
    width: 100%;
    height: 40%;
    position: relative;
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include media(max-width 768px) {
        font-size: 24px;
      }
    }
  }
  .focus-wheel-steps {
    .focus-wheel-step {
      padding: 0 20px;
      textarea{
        text-align: center;
        font-size: 18px;
      }
    }
  }
}

.gentle-reminder {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  @include media(max-height 400px) {
    display: none;
  }
}

.results {
  max-height: 100%;
  overflow-y: scroll;
  padding: 40px;
  > * {
    margin: 0;
  }
  .dont-want,
  .do-want{
    margin-bottom: 20px;
  }
  .focus-wheels-list {
    max-width: 500px;
    margin: 0 auto;
  }
}